* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.book-list {
  background-color: rgb(255, 255, 255);
}

a {
  color: silver;
  text-decoration: none;
}

.navbar {
  width: 100%;
  background: black;
  color: gold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: top;
  text-align: center;
  
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav ul li {
  float: left;
}

nav ul li a {
  position: relative;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20x;
  letter-spacing: 0.3px;
  text-decoration: none;
}
nav ul li a::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: white;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
  text-decoration: none;
}

nav li a:hover::after {
  transform: scale(1, 1);
  text-decoration: none;
}

.HomeDashboardWrapp {
	display: flex;
}

h3 {
  padding: 20px;
  text-align: center;
}

.box_wrapp {
	padding: 10px;
	background: rgba(0,0,0,0.1);
	margin: 5px;
	border-radius: 5px;
}


.footer {
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.favourites {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.book-details {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
  padding: 10px;
}

.book-description {
  margin: 0px 10px;
}

img {
  width: 300px;
  height: 300px;
  transition: all 0.3 ease;
}

img:hover {
  transform: scale(1.1);
}

.book {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

button {
  padding: 10px;
  background: black;
  color: white;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  transform: scale(1.0);
}

.orders {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.searchbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  margin: 0.5px;
  text-decoration: none;
}

.searchbar h1 {
  margin: 20px;
  font-size: 40px;
  color: rgb(1, 1, 59);
  border: 20px;
}

.search {
  width: 30%;
}

.searchbar ul li {
  font-size: 20px;
  margin: 5px;
}

.list ul li:hover {
    background-color: rgb(26, 32, 36);
}

.language {
  text-align: left;
}

.genres h4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  margin: 10px;
}

.registration,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.Project td button {
  width: 99%;
}

.StarRating button {
  padding: 10px;
    background: black;
    color: white;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

.on {
  color: #000
}

.off {
  color: #ccc
}
